<h1 style="margin: 2%">Editing gamer</h1>

<div style="margin-left: 3%">
  <%= render "form", gamer: @gamer %>
</div>

<br>

<div style="margin-left: 2%; font-size: 20px">
  <%= link_to "Show this gamer", @gamer, style: "color: indigo" %> |
  <%= link_to "Back to gamers", gamers_path, style: "color: indigo" %>
</div>
